name: Publish VS Code Extension
on:
  push:
    tags: ['vscode-v*']
permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
      - run: cd vscode-extension && npm ci
      - run: cd vscode-extension && npm run compile
      - run: cd vscode-extension && npx @vscode/vsce package
      - run: cd vscode-extension && npx @vscode/vsce publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
